{% autoescape off %}
Hi {{ user.username }},
To verify your deposit action, please use the following One Time Password (OTP):

{{otp}}

Do not share this OTP with anyone. We takes your account security very seriously. We will never ask you to disclose or verify your password, OTP, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click on the link—instead, report the email to us for investigation.

Our gmail: vnu_hkp@vnu.edu.vn

Thank you for shopping with us! We hope to see you again soon.
{% endautoescape %}