.home-sale {
    text-decoration: line-through;
    font-size: 10px;
    font-style: italic;
    font-weight: lighter;
    color: #1e738d
}


style="text-decoration: line-through;
                                        font-size: 14px;
                                        font-style: italic;
                                        font-weight: 400;